#waybar {
  background: rgba(0, 0, 0, 0.2);
  /* background: #1d2433; */
  color: #bfd3ff;
  font-family: "ComicShannsMono Nerd Font Mono";
  font-size: 13px;
}

/* padding */

#workspaces,
#backlight,
#network,
#battery,
#pulseaudio,
#language,
#cpu,
#memory{
  padding: 1px 10px;
}
#workspaces {
  padding-left: 5px;
}

/* workspaces */

#workspaces button {
  font-size: 10px;
  padding: 0 1px;
  color: #3d4a66;
  border: none;
}

#workspaces button.active {
  color: #92b7ea;
}

#workspaces button.urgent {
  color: #D0879D;
}

#workspaces button:hover {
  background: none;
  border: none;
  color: #AD9BEA;
}

/* battery */

#battery.critical {
  color: #D0879D;
}

#battery.warning {
  color: #D0B1A2;
}

#battery.low {
  color: #CDD2AF;
}
