*{
    font-family: ComicShannsMono Nerd Font;
    font-size: 13px;
    min-height: 0;
    color: white;
    font-weight: 400;
}

window#waybar {
    background: rgba(0,0,0,0.3);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 5px;
    background: rgba(0,0,0,0);
    border: none;
    transition-property: none;
}

#workspaces  button:hover {
    background-color: rgba(0,0,0,0.3);
    border: none;
}

#cpu,#backlight, #bluetooth, #pulseaudio, #network, #memory,#temperature, #battery {
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid #6c3483;
}

#pulseaudio {
    padding-right: 8px;
    padding-left: 8px;
    border-left: 1px solid #6c3483;
}

#cpu,
#temperature,
#memory,
#sway-mode,
#backlight,
#pulseaudio,
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery,
#clock,
#network {
	padding: 5px 10px;
}
